@import '../../assets/styles/variables.scss';
.container {
  border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
  width: 100%;
  height: 100%;
}

.container > * {
  background-color: $transparent-white-color;
  padding-left: 30px;
  padding-block: 30px;
  color: $blue-color;
}
