@import '../../assets/styles/variables.scss';
.container {
  width: 30%;
  background-color: $white-color 0.75;
  border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
  border: 5px solid $white-color ;
}

.container > * {
  background-color: $white-color;
  opacity: 0.75;
  padding-left: 30px;
  padding-block: 30px;
}
