@import '../../assets/styles/variables.scss';
.informationPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.leftInformationPanel,
.middleInformationPanel,
.rightInformationPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
  height: 100%;
}

.leftInformationPanel {
  width: 23vw;
}

.middleInformationPanel {
  width: 54vw;
}

.rightInformationPanel {
  width: 23vw;
}

.playersInformationsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playersInformationsCard {
  display: flex;
  height: 100%;
  width: 21vw;
}

// LevelsInformations
.levelsInformationsContainer {
  display: flex;
  align-items: center;
  color: $white-color;
  margin-bottom: 1vh;
}

.levelInformationTitle {
  font-weight: bold;
  font-size: $font-size-secondary-informations;
}

.levelInformationValue {
  margin-left: 1vw;
  font-size: $font-size-secondary-informations;
}

.imgLevelInformation {
  width: 4vh;
  height: 4vh;
  margin-right: 1vw;
}
