.main {
  min-height: 100vh;
  background-color: #182E3B;
  background-image: url(../images/jeton_poker_v3_Bleu.png);
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: center;
}
