@import '../../../assets/styles/variables';
.container {
  border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
  width: 100%;
  height: 100%;
}

.container > * {
  background-color: $white-color-medium-opacity;
  padding: 5px;
  color: $white-color;
}
