////////// MODAL_STRUCTURE //////////////


.buttonSettingContainer {
    display: flex;
    justify-content: center;
}

.inputContainer {
    margin-top: 20px;
}


////////// MODAL_STRUCTURE_BASELINE//////////////

.buttonContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.buttonSectionContainer {
    display: flex;
    justify-content: space-around

}