@import '../../assets/styles/variables.scss';

.container {
  display: 'flex';
  flex-direction: 'column';
}

.TimerZone {
  display: 'flex';
}

.Timer {
  display: flex;
  font-weight: bold;
  font-size: 10ch;
  text-align: center;
  justify-content: center;
}

.InfoZone {
  margin: 2px;
  padding: 5px;
  border-bottom: 1px solid $blue-color;
  color: $blue-color;
}

.InfoText {
  font-weight: bold;
}

.PotTotal {
  background-color: $blue-color;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.Total {
  padding-left: 2px;
  font-weight: bold;
  font-size: xx-large;
}
