.winnerContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    filter: none !important;
    border: #F7F5E4 1px solid;
    box-shadow: #182E3B 0px 3px 5px 0;
    color: #FFFFFF;
    font-size: 5vw;
  }

  .winnerContainer {
    background-color: #12AB46;
  }
  
  .imgWhiteToken {
    width: 8vh;
    height: 8vh;
    margin-right: 1vw;
  }

  .crown {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }