@import '../../../../../assets/styles/variables.scss';

.inputLabelContainer {
    max-width: 45%;
    overflow: hidden;
}

.inputLabel {
    font-size: 20;
    color: $white-color;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputText {
    text-align: 'right';
    padding-left: 10px 0px;
    font-size: 20;
    color: $white-color;
    text-overflow: ellipsis;
}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    max-width: 50%;
}

.iconStyle {
    margin-left: 10px;
}

.buttonStyle {
    text-align: right;
    min-width: 200px;
    margin: 0px;
    padding: 0px;
}

.textButtonStyle {
    color: $white-color;
    font-size: 16px;
    min-width: 200px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keyboard {
    z-index: 1000000;
    position: absolute
}
