@import '../../assets/styles/variables.scss';
.container {
  width: 26%;
  padding-inline: 15px;
  padding-block: 30px;
  background-color: $white-color;
  border-radius: 5px;
}

.stack {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bold {
  font-weight: bold;
}

.paddingBlock {
  padding-block: 20px;
}
