@import '../../assets/styles/variables.scss';

.container {
  border: 1px solid $white-color;
  border-radius: 5px;
}

.stack {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bold {
  font-weight: bold;
}

.paddingBlock {
  padding-block: 20px;
}
