@import '../../assets/styles/variables.scss';
.CalculatorContent{
    border-radius: 13px !important;
    scale : 1.35;
}
.CalculatorBody {
  background-color: #182E3B;
  border-radius: 10px !important;
}

.ButtonNumber{
    background-color: #F7F0E1 !important;
    color: #142530;
}

.ButtonSubmit{
    background-color: #182E3B !important;
    color: #F7F0E1 !important;
    border: 1px #12AB46 solid !important;
}

.inputCalculator{
    background-color: #182E3B !important;
    color: #F7F0E1 !important;
    font-size: 2vw;
    text-align: center;
    border-bottom: 1px solid #F7F0E1 !important;
}
