@import 'variables';
.main {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/background_gm.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
