// Couleurs
$white-color: rgba(255, 255, 255);
$black-color: rgba(0,0,0,0.67);
$red-color: #c60000;
$white-color-low-opacity: rgba(255, 255, 255, 0.20);
$white-color-medium-opacity: rgba(255, 255, 255, 0.40);
$white-color-high-opacity: rgba(255, 255, 255, 0.70);
$black-color-low-opacity: rgba(0, 0, 0, 0.25);
$black-color-medium-opacity: rgba(0, 0, 0, 0.50);

// Taille des polices
$font-size-header: 2vw;
$font-size-main-informations: 3.5vw;
$font-size-primary-informations: 2.5vw;
$font-size-secondary-informations: 1.5vw;

// Espacements
$space-between-texts: 0.5vw;

// Arrondis
$border-players-card-radius: 15px;
