@import '../../assets/styles/variables.scss';
.container, .blur {
  border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
  background-color: $back-players-blue-color;
  box-shadow: $dark-blue-color 3px 3px 3px 3px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.blur > * {
  filter: blur(2px);
}

.container, .blur > * {
  padding: 5px;
  color: $white-color;
}

.isSelected {
  border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
  background-color: $white-color;
  box-shadow: $transparent-white-color 5px 5px 5px 5px;
}

.isSelected > * {
  padding: 5px;
  color: $dark-blue-color;
}
